<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang="en"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Bulls and Cows</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.js"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container-scroller">
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div
          class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
        >
          <a class="navbar-brand brand-logo" th:href="@{/}">BULLS AND COWS</a>
        </div>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
          <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                  <span class="menu-title">Dashboard</span>
                  <i class="mdi mdi-home menu-icon"></i>
                </a>
              </li>
              <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/my-games}">
                  <span class="menu-title">My games</span>
                  <i class="mdi mdi-home menu-icon"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <span class="menu-title" onclick="rules()">How to play</span>
                  <i class="mdi mdi-home menu-icon"></i>
                </a>
              </li>
            </ul>
            <div
              class="sidebar-progress"
              sec:authorize="isAuthenticated()"
              hidden
            >
              <p
                id="welcome"
                th:text="'You are logged in as ' + ${#authentication.getPrincipal().getUsername()}"
              ></p>
            </div>
            <div
              class="wrapper upgrade-button"
              sec:authorize="isAuthenticated()"
            >
              <input
                type="button"
                class="btn btn-lg btn-block purchase-button"
                value="Start a new game"
                onclick="startNewGame()"
              />
            </div>
          </nav>
          <!-- congratulation -->
          <div class="content-wrapper" sec:authorize="isAuthenticated()">
            <div class="card" id="finished">
              <div class="card-body">
                <div
                  class="tenor-gif-embed"
                  data-postid="25183759"
                  data-share-method="host"
                  data-aspect-ratio="1.45455"
                  data-width="100%"
                >
                  <a href="https://tenor.com/view/whoa-whoa-gif-gif-25183759"
                    >Whoa Whoa Gif GIF</a
                  >from
                  <a href="https://tenor.com/search/whoa-gifs">Whoa GIFs</a>
                </div>
                <script
                  type="text/javascript"
                  async
                  src="https://tenor.com/embed.js"
                ></script>
                <script
                  type="text/javascript"
                  async
                  src="https://tenor.com/embed.js"
                ></script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>
