<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Ninestars Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{../static/img/favicon.png}" rel="icon">
    <link th:href="@{../static/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{../static/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{..static/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{..static/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{..static/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{..static/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{..static/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Ninestars - v4.7.0
    * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1 class="text-light"><a href="index.html"><span>Bulls and Cows</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About Us</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
                <li><a class="nav-link scrollto" href="#team">Team</a></li>
                <li sec:authorize="isAuthenticated()"><a class="nav-link scrollto" th:href="@{/game/my}">My games</a>
                </li>
                <li th:action="@{/logout}" sec:authorize="isAuthenticated()" method="get"><a class="nav-link scrollto"
                                                                                             th:href="logout">Logout</a>
                </li>

                <li sec:authorize="!isAuthenticated()"><a class="nav-link scrollto" th:href="@{/register}">Register</a>
                </li>
                <li sec:authorize="!isAuthenticated()"><a class="nav-link scrollto" th:href="@{/login}">Login</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>In order to start playing Bulls and Cows, you need to follow those steps: </h1>
                <h2>1. Register</h2>
                <h2>2. Login</h2>
                <h2>3. Start a new game</h2>
                <h2>4. Guess the number</h2>
                <h2>5. Check the game history in order to see how many bulls and cows you have</h2>
                <div>
                    <a th:action="@{/game}" sec:authorize="isAuthenticated()" method="get"
                       class="btn-get-started scrollto" th:href="@{/game}">Start a new game</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img th:src="@{../static/img/hero-img.svg}" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <p>Users</p>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" th:each="user:${users}">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
<!--                        <a th:href="@{/game/{gameId} (gameId=${game.gameId})}"><h4 th:text="${game.gameId}">GameId</h4>-->
<!--                        </a>-->
                        <h6 class="description">Username</h6>
                        <p class="description" th:text="${user.username}"></p>
                        <h6 class="description">Number of finished games</h6>
                       <p class="description" th:text="${user.numberOfFinishedGames}"></p>
                        <h6 class="description">Times Played</h6>
                        <p class="description" th:text="${user.bestTimesPlayed}"></p>
                        <h6 class="description">Best time</h6>
                       <p class="description" th:text="${user.bestTime}"></p>



                    </div>
                </div>


            </div>

        </div>

        </div>
    </section><!-- End Services Section -->
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Ninestars</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{../static/vendor/aos/aos.js}"></script>
<script th:src="@{../static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../static/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{../static/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{../static/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{../static/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{../static/js/main.js}"></script>

</body>

</html>