<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bulls and Cows</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container-scroller">
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" th:href="@{/}">BULLS AND COWS</a>
        </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <div class="row row-offcanvas row-offcanvas-right">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">
                            <span class="menu-title">Dashboard</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/games}">
                            <span class="menu-title">My games</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item" th:action="@{/logout}" sec:authorize="isAuthenticated()"
                        method="get">
                        <a class="nav-link" th:href="logout">
                            <span class="menu-title">Logout</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/register}">
                            <span class="menu-title">Register</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/login}">
                            <span class="menu-title">Login</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/rules}">
                            <span class="menu-title">How to play</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                </ul>
                <div class="wrapper upgrade-button">
                    <a th:action="@{/game}" sec:authorize="isAuthenticated()" method="get"
                       th:href="@{/game}"
                       class="btn btn-lg btn-block purchase-button">Start a new game</a>
                </div>
            </nav>
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">My games</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>
                                                Game id
                                            </th>
                                            <th>Action
                                            </th>
                                            <th>
                                                Times Played
                                            </th>
                                            <th>
                                                Start date
                                            </th>
                                            <th>Finish date
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody th:each="game:${games}"
                                               sec:authorize="isAuthenticated()">
                                        <tr>
                                            <td th:text="${game.gameId}">
                                            <td>
                                                <a th:if="${game.isFinished()}"
                                                   th:href="@{/game/{gameId} (gameId=${game.gameId})}"
                                                   class="badge badge-gradient-success">VIEW</a>
                                                <a th:if="${!game.isFinished()}"
                                                   th:href="@{/game/{gameId} (gameId=${game.gameId})}"
                                                   class="badge badge-gradient-warning">CONTINUE</a>
                                            </td>
                                            <td th:text="${game.timesPlayed}">
                                            </td>
                                            <td th:text="${game.createdDate}">
                                            </td>
                                            <td th:if="${game.isFinished()}"
                                                th:text="${game.lastModifiedDate}">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
